<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>Favourites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngIf="favourites.length; else empty">
    <ion-item *ngFor="let fav of favourites">
      <ion-thumbnail slot="start">
        <img [src]="fav.image" [alt]="fav.title" />
      </ion-thumbnail>

      <ion-label>
        <h2>{{ fav.title }}</h2>
        <p>ID: {{ fav.id }}</p>
      </ion-label>

      <ion-buttons slot="end">
        <ion-button [routerLink]="['/recipe-details', fav.id]">
          Details
        </ion-button>

        <ion-button color="danger" (click)="remove(fav.id)">
          Remove
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ng-template #empty>
    <ion-text>
      <p>No favourites yet.</p>
    </ion-text>
  </ng-template>
</ion-content>
